span.quoted {
    font-size: 16px;
    display: block;
    margin: 14px 0 0 0;
    font-style: italic;
}
span.quoted:before {
    content: "“";
    font-size: 40px;
    color: #999;
    line-height: 0;
    display: inline-block;
    margin: 0 6px 0 0;
}
span.quoted:after {
    content: " ”";
    font-size: 40px;
    color: #999;
    line-height: 0;
    display: inline-block;
    margin: 0 0 0 4px;
}

.greentext {
    color: greenyellow;
}
.greentext:before {
    content: "";
    display: block;
    background: url("green_arrow.jpg") no-repeat;
    width: 40px;
    height: 40px;
    float: left;
    margin: 0 6px 0 0;
}

.better_greentext {
    color: greenyellow;
}
.better_greentext:before {
    content: ">";
    color: greenyellow;
}
p:before {
    content: "";
    display: block;
    clear: both;
}
a {
    float: left;
    display: block;
    width: 100px;
}

h2 {
    float: left;
    width: 170px;
}
.popup {
    float: left;
    width: 340px;
    background: #727272;
    padding: 10px;
    border-radius: 6px;
    color: #FFF;
    position: relative;
    font-size: 12px;
    line-height: 20px;
}
.popup:before {
    /*arrow before block*/
    content: "";
    display: block;
    width: 0;
    height: 0;
    border-top: 12px solid transparent;
    border-bottom: 12px solid transparent;
    border-right: 12px solid #727272;
    position: absolute;
    top: 16px;
    left: -12px;
}

.popup2 {
    float: left;
    width: 340px;
    background: black;
    padding: 10px;
    border-radius: 6px;
    color: #FFF;
    position: relative;
    font-size: 12px;
    line-height: 20px;
}

.popup:after {
    /*arrow after block*/
    content: "";
    display: block;
    width: 0;
    height: 0;
    border-top: 12px solid transparent;
    border-bottom: 12px solid transparent;
    border-right: 12px solid #727272;
    position: absolute;
    top: 16px;
    left: 12px;
}