canvas {
    background: #eee;
}

#HUD {
    background: wheat;
    width: 480px;
}

#block1 {
    text-align: justify;
    text-align-last: justify;
}

#score {
}

#all_scores {
    text-align: center;
}
